* {
    margin: 0;
    padding: 0;
}

/* Google font inter css */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared style */
.btn {
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

/* Main Style */
nav {
    display: flex;
    padding: 16px 120px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-logo img {
    width: 139px;
    height: 60px;
}

#list-container .list-content {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

#list-container .list-content li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}