* {
    margin: 0;
    padding: 0;
}

/* Google font inter css */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* All btn style */
.btn {
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* display: flex; */
}

.btn:hover {
    background-color: bisque;
    color: #000000;
}

.btn-white {
    background-color: white;
    color: #469165;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
}

.btn-white:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.btn-BGless {
    background: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.banner-content .btn-container .btn-flex {
    display: flex;
    align-items: center;
}

/* Main Style */
nav {
    display: flex;
    padding: 16px 120px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-logo img {
    width: 139px;
    height: 60px;
}

#list-container .list-content {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

#list-container .list-content li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

/* banner section is here */

#banner {
    display: flex;
    padding-top: 115px;
    padding-bottom: 179px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner .banner-content {
    /* border: 1px solid black; */
    max-width: 1360px;
    margin: 0 auto;
    padding-left: 295px;
    padding-right: 295px;
}



#banner .banner-content h1 {
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.text-green {
    color: #469165;
}

#banner .banner-content p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 32px;
}

.btn-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

/* Note section is here */
#note-section {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

#note-section .note-container {
    max-width: 1360px;
    margin: 60px auto;
}

#note-section .note-container .note-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#note-section .note-container .note-heading p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 22px;
}

.note-container .note-card {
    display: flex;
    gap: 24px;
}

.note-container .note-card .card {
    width: 332px;
    padding: 35px 30px;
    box-shadow: 10px 10px 20px rgb(210, 209, 209);
}

.note-container .note-card .card:hover {
    background-color: #c9e2ff;
}


.note-container .note-card .card img {
    background-color: #F95555;
    border-radius: 50px;
    padding: 8px 8px;
    margin-top: 16px;
}

.note-container .note-card .card h4 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.note-container .note-card .card p {
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    margin-bottom: 16px;
}

/* Brain section  */
#brain {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

#brain .brain-container {
    max-width: 1360px;
    margin: 60px auto;
    display: flex;
    gap: 60px;
}

.brain-container .brain-details {
    padding-top: 102px;
    padding-bottom: 102px;
    padding-right: 150px;
    text-align: left;
}

.brain-container .brain-details h6 {
    color: #469165;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 20px;
}

.brain-container .brain-details h3 {
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}

.brain-container .brain-details .description {
    font-size: 16px;
    color: #627382;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}

.brain-container .tips {
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

}

/* Challange part */
#challange {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

#challange .challange-accept {
    max-width: 1360px;
    margin: 60px auto;
    gap: 60px;
    padding: 0 300px;
    justify-content: center;
    align-items: center;
}

.challange-accept h3 {
    font-size: 40px;
    color: #001931;
    margin-bottom: 18px;
}

.challange-accept p {
    font-size: 16px;
    color: #627382;
    line-height: 18px;
    margin-bottom: 25px;
}

.challange-accept .last-button {
    display: flex;
    justify-content: center;
}

.challange-accept .btn-last {
    display: flex;
    margin-bottom: 25px;
    gap: 8px;
}


/* footer style */

footer {
    background: #180125;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: auto;

}

.footer-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    padding: 120px 200px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 3px solid rgb(255, 255, 255); */
}

.footer-container h5 {
    color: #FFFFFF;
    font-size: 19px;
    margin-bottom: 10px;
}

.footer-container .icon {
    display: flex;
    gap: 15px;
}

.footer-container .icon i {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.footer-container .last {
    padding: 30px 20px;
}

footer hr {
    border: 1px solid rgb(248, 214, 214);
    max-width: 1360px;
    margin: 3px auto;


}

footer .last-p {
    padding-bottom: 60px;
    justify-content: center;
    display: flex;
}

footer .last-p p {
    font-size: 20px;
    color: #c9e2ff;
}