* {
    margin: 0;
    padding: 0;
}

/* Google font inter css */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared style */
.btn {
    background-color: #469165;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: bisque;
    color: #000000;
}

.btn-white {
    background-color: white;
    color: #469165;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
}

.btn-white:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.btn-BGless {
    background: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

/* Main Style */
nav {
    display: flex;
    padding: 16px 120px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-logo img {
    width: 139px;
    height: 60px;
}

#list-container .list-content {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

#list-container .list-content li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

/* banner section is here */
#banner {
    display: flex;
    padding-top: 115px;
    padding-bottom: 179px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-image: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner .banner-content {
    /* border: 1px solid black; */
    max-width: 1360px;
    margin: 0 auto;
    padding-left: 295px;
    padding-right: 295px;
}



#banner .banner-content h1 {
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.text-green {
    color: #469165;
}

#banner .banner-content p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 32px;
}

.btn-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}